@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 204 100% 37%;

    --card: 0 0% 100%;
    --card-foreground: 204 100% 37%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 204 100% 37%;
 
    --primary: 204 100% 37%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 200 70% 94%;
    --secondary-foreground: 204 100% 37%;
 
    --muted: 210 100% 97%;
    --muted-foreground: 204 100% 37%;
 
    --accent: 199 100% 85%;
    --accent-foreground: 204 100% 37%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 199 100% 85%;
    --input: 199 100% 85%;
    --ring: 204 100% 37%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

